@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

body {
  background: #ffffff;
  background-image: url("./sources/websubs-io-centers-2673317_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.hero-section {
  background-color: rgba(255, 255, 255, 0);
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;


}

.hero-section h1 {
  font-size: 40px;
  text-wrap: wrap;
  max-width: 400px;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.hero-section h3 {
  color: var(--second-color);
  font-size: 20px;
  text-wrap: wrap;
  max-width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 7px;
}


.hero-section button {
  border-radius: 10px;
  width: 150px;
  height: 55px;
  padding: 12px;
  margin-top: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0.479);
  color: black;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
}