* {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  position: relative;
  top: 10px;
  border-radius: 50px;
  background: #00000057;
  width: 90%;
  min-width: 350px;
  height: 8vh;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header-item {
  list-style: none;
  background: rgb(106, 132, 245);
  padding: 5px;
  border-radius: 50px;
}

.header-item a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  height: 100%;
}

img {
  width: 100px;
  align-self: center;
  justify-self: center;
  display: flex;
}

@media (max-width: 650px) {
  .header-item {
    padding: 3px;
  }

  nav img {
    width: 90px;
  }

  .header-item {
    font-size: 9px;
  }
}
