* {
  margin: 0;
}

header {
  width: 100vw;
  display: flex;
  position: absolute;
}

nav {
  background-color: var(--first-color);
  position: relative;
  width: 100%;
  height: 9vh;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header-item {
  list-style: none;
  background: rgb(106, 132, 245);
  padding: 10px;
  border-radius: 50px;
}

.header-item a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;

}

img {
  width: 100px;
}